.typing {
    width: 15.5em;
    white-space: nowrap;
    border-right: 1px solid transparent;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
    overflow: hidden;
}
@keyframes typing {
  from { width: 0; }
  to { width: 15.5em; }
}
@keyframes blink-caret {
  from, to { box-shadow: 1px 0 0 0 transparent; }
  50% { box-shadow: 1px 0 0 0; }
}